.layout {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  padding: 0% 5% 5% 5%;
  flex-direction: column;
  box-sizing: border-box;
}

.custom-background {
  background-color: #1887fc;
  background-image:
    radial-gradient(at 40% 20%, rgb(17, 28, 150) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgb(3, 33, 67) 0px, transparent 50%),
    radial-gradient(at 0% 50%, #095d7c 0px, transparent 50%), radial-gradient(at 80% 50%, #1887fc 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(13, 5, 71) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(6, 63, 116) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(5, 3, 15) 0px, transparent 50%);
}

.layout-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: scroll;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 1rem;
}

h2 {
  margin: 0 0 8px 0;
  font-size: 1.8rem;
  color: white;
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

label {
  font-weight: 600;
  color: white;
}

span {
  color: rgba(255, 255, 255, 0.9);
}

input {
  margin: 8px 0;
  font-size: 1.1em;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #001e40;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 0 1px #001e40;
}

@media (max-width: 900px) {
  .layout {
    display: none;
  }
}
